body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f4f4f4;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header .search-bar {
    display: flex;
    align-items: center;
    flex-grow: 0.25;
    margin: 0 20px;
}

header .search-bar i {
    margin-right: 10px;
}

header .search-bar input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

header nav {
    display: flex;
    gap: 10px;
}

header nav a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

.fa-cart-shopping{
    display: flex;                  
    align-items: center;            
    justify-content: center;        
    margin-right: 10px;             
    border-radius: 50%;            
    border: solid 1px #ccc;         
    width: 30px;                    
    height: 30px;                   
    background-color: #fff; 
}

header .cart {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    white-space: nowrap;  /* Ensure the text does not wrap */
}

.services, .featured-products, .newsletter, .product-list, .about {
    padding: 20px;
    text-align: center;
}

.services h2, .featured-products h2, .newsletter h2, .about h2 {
    margin-bottom: 20px;
}

.service-items, .product-list, .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-item, .product-item, .featured-item {
    background: #ddd;
    width: 100px;
    height: 100px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.shop-now {
    margin-top: 
